<div class="popup-wrap is_hidden">
    <div class="popup">
        <div class="popup-close">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.a{fill:none;}</style></defs><rect class="a" width="24" height="24"/><path d="M17,0,9.208,7.793,1.415,0,0,1.415,7.793,9.208,0,17l1.415,1.415,7.793-7.793L17,18.415,18.415,17,10.623,9.208l7.793-7.793Z" transform="translate(2.792 2.792)"/></svg>
        </div>
        <div id="popup-wrapper" class="popup-content">
            <div class="popup-text">
                <h3 class="popup-title"><%- t("POPUP_SUCCESS_TITLE") %></h3>
                <%- t("POPUP_SUCCESS_TEXT") %>
            </div>
        </div>
    </div>
</div>
